<section class="empleados">
    <html>  
     <div  class = "origen">
       <label class="ciudadO">Ciudad Origen</label>
        <select class="form-select" [(ngModel)]="selected"  (change)="listarIda()">
            <option *ngFor = "let o of origenes">{{o}} </option>
        </select>
     </div>
     <div  class = "destino">
        <label class="ciudadD">Ciudad destino</label>
         <select class="form" [(ngModel)]="selecte" >
             <option *ngFor = "let d of destinos">{{d}} </option>
         </select>
         <p>{{selecte}}</p>
      </div>      
      <div class="personas">
        <label class="idvuelo"> Numero personas </label>
        <input type="text" class="lidvuelo" id="vuelo" [(ngModel)]="cantidad">
      </div>
      <div class="fechas">
        <input type="date" [(ngModel)]="fecha">
      </div>
      <div>
        <!-- (click)="crearVuelo()"  -->
        <button class="cVuelo" (click)="listarVuelos()" > Crear vuelo </button>
      </div>

      <div class="tabla">
        <table width="100%" id="miTabla">
         <tr>
           <th> Fecha </th>
           <th> Duracion </th>
           <th> Escala </th>
           <th> Precio Persona </th>
           <th> Id Vuelo </th>
         </tr>
         <ng-container *ngFor="let vuelo of lVuelos">
         <tr>
           <td>{{vuelo}}</td>
           <td>{{vuelo}}</td>
           <td>{{vuelo}}</td>
           <td>{{vuelo}}</td>
           <td>{{vuelo}}</td>
           <th> 
           </th>
           <!-- <th>
               <a  class="eliminar">
                   <svg (click)="eliminarVuelo(vuelo.idvuelo)" class="logoEliminar" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" /></svg>
               </a>
           </th> -->
          </tr>
         </ng-container>
        </table>
       </div>
       <!-- <div class="fechas">
        <input type="date" [(ngModel)]="fechaR">
      </div> -->

    </html>
</section>